:root 
{
    --kolorstornki:rgba(0, 0, 0, 0.801) ;
    --kolornaglowka:rgb(255, 115, 0) ;
    --kolornaglowka2:rgb(252, 134, 38);
    --czcionka: 'Roboto Slab', serif;
    --czcionka_kolor: white;
}
* {margin: 0; padding: 0;}
html 
{
    height: 100%;
    overflow: hidden;
    width: 100%;
}
body
{
    width: auto;
    height: auto;
    background-color: var(--kolorstornki);
    color: var(--czcionka_kolor);
    font-family: var(--czcionka);
    font-size: 20px;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
/* pasek rozwijania */
#ikonka
{
    background-color: var(--kolornaglowka);
    color: var(--czcionka_kolor);
    padding: 10px;
    font-size: 30px;
    border: none;
    height: 100%;
    width: 100%;
}
#Theme:hover
{
    cursor: pointer;
}
#time
{
    position: relative;
    float: right;
    height: 40px;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Roboto Mono', monospace;
    background-color: var(--kolornaglowka);
    color: var(--czcionka_kolor);
    padding: 15px;
    font-size: 30px;
    border: none;
}
nav
{
    background-color: var(--kolornaglowka);
    width: 100%;
    font-size: 28px;
    top: 0px;
    position: sticky;
    height: 70px;
    margin-bottom: 0px;
}
.dropbtn {
    background-color: var(--kolornaglowka);
    color: var(--czcionka_kolor);
    padding: 10px;
    font-size: 30px;
    border: none;
    height: 100%;
    width: 100%;
}
.dropdown {
    position: relative;
    display: inline-block;
    height: 70px;
    width: auto
}
.dropdown-content 
{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 25px;
}
  
  .dropdown-content a 
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover  .dropbtn {background-color: var(--kolornaglowka2);}

/* tekst */
p
{
    text-align: center;
    font-size: 100px;
}
/* tabela */
table, td, th {
    border: 1px solid;
    padding-left: 5px;
    padding-right: 5px;
    color: black;
  }
table 
{
    border-collapse: collapse;
    background-color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.centrowane
{
    text-align: center;
    font-weight: bold;
}
.czerwony
{
    color: red;
}
/*  */
